@inherits UmbracoTemplatePage
@{
    var page = (Home)Model.Content;
    var site = page.AncestorOrSelf(1);
    var overview = site.FirstChild<AnnouncesOverview>();
    var items = ContentManager.GetAnnounceItems(1, Consts.AnnouncesConfig.ItemsOnFrontPage).Items;
}

@if (items.Count > 0)
{
    <div class="home-announces-wrapper">
        <div class="container">
            <section class="home-announces-container">
                <header class="title">
                    <h2>@page.AnnouncesTitle</h2>
                </header>
                <div class="content">
                    <div class="row no-gutters">
                        @foreach (var item in items)
                        {
                            <div class="col-sm-12 col-md-8">
                                <article class="announce">
                                    <a href="@item.Url">
                                        <header>
                                            <div class="date">
                                                <time class="day">@item.DateOfHappening.Day.ToString().PadLeft(2, '0')</time>
                                                <time class="month">@item.DateOfHappening.ToString("MMM")</time>
                                            </div>
                                            <div class="details">
                                                <h4>@item.GetTitle()</h4>
                                                <p>
                                                    <span class="time-icon"></span>
                                                    <span class="time">@item.DateOfHappening.ToString("HH:mm")</span>
                                                </p>
                                                @if (!string.IsNullOrEmpty(item.Place))
                                                {
                                                    <p>
                                                        <span class="location-icon"></span>
                                                        <span class="location">@item.Place</span>
                                                    </p>
                                                }
                                            </div>
                                        </header>
                                    </a>
                                </article>
                            </div>
                        }
                    </div>
                </div>
                <div class="read-more">
                    <a href="@overview.Url" class="btn btn-default">@page.AnnouncesReadMore</a>
                </div>
            </section>
        </div>
    </div>
}
