@inherits UmbracoTemplatePage
@{
    var items = Model.Content.Descendants<FrontPageBanner>().ToList();

    var id = Utils.GenerateId("bannerCarousel");
}

@helper ArticleItem(string imageUrl, string title, string subtitle, string buttonText, string redirectLink)
{
    <article class="banner-item">
        <div class="image">
            <img class="lazyOwl img-responsive" data-src="@imageUrl" />
        </div>
        <div class="info">
            <div class="container">
                @*<div>*@
                    <header class="title">
                        <h1>@title</h1>
                        <p>@subtitle</p>
                    </header>
                    @if (!string.IsNullOrEmpty(buttonText))
                    {
                        <div class="btn-action">
                            <a href="@redirectLink" class="btn btn-primary">@buttonText</a>
                        </div>
                    }
                @*</div>*@
            </div>
        </div>
    </article>
}

@if (items.Count > 0)
{
    <div class="banner-carousel-wrapper">
        <section id="@id" class="banner-carousel-container pagination-carousel">
            @*<div class="owl-carousel-prev not-mobile"></div>*@
            <div class="owl-carousel">
                @foreach (var item in items)
                {
                    var image = item.Image;
                    if (image != null)
                    {
                        var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                        var redirectPageId = ((int?)item.PageToOpen).GetValueOrDefault();
                        var redirectLink = redirectPageId != 0 ? Umbraco.NiceUrl(redirectPageId) : "#";
                        var title = item.Name;
                        var subTitle = item.Subtitle;
                        var buttonText = item.ButtonText;

                        @ArticleItem(imageUrl, title, subTitle, buttonText, redirectLink)
                    }
                }
            </div>
            @*<div class="owl-carousel-next not-mobile"></div>*@
        </section>
    </div>

    <script type="text/javascript">
        $(function () {
            InitBannerCarousel('@id');
        });
    </script>
}