@inherits UmbracoTemplatePage
@{
    var items = Model.Content.Descendants<FrontPageBanner>().ToList();

    var id = Utils.GenerateId("bannerCarousel");
}

@helper ArticleItem(string imageUrl, string title, string subtitle, string buttonText, string redirectLink)
{
    <article>
        <img class="lazyOwl img-responsive" data-src="@imageUrl" />
        <div class="banner-carousel-item-info">
            <div class="container">
                <div>
                    <header>
                        <h1>@title</h1>
                    </header>
                    <span>@subtitle</span>
                    @if (!string.IsNullOrEmpty(buttonText) && !string.IsNullOrEmpty(redirectLink))
                    {
                        <a href="@redirectLink" class="btn btn-primary">@buttonText</a>
                    }
                </div>
            </div>
        </div>
    </article>
}

@if (items.Count > 0)
{
    <article class="banner-carousel-wrapper">
        @*<div class="container">*@
        <div id="@id" class="pagination-carousel banner-carousel">
            @*<div class="owl-carousel-prev not-mobile"></div>*@
            <div class="owl-carousel">
                @foreach (var article in items)
                {
                    var image = article.Image;
                    if (image != null)
                    {
                        var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                        var redirectPageId = ((int?)article.PageToOpen).GetValueOrDefault();
                        var redirectLink = redirectPageId != 0 ? Umbraco.NiceUrl(redirectPageId) : string.Empty;
                        var title = article.Name;
                        var subTitle = article.Subtitle;
                        var buttonText = article.ButtonText;

                        @ArticleItem(imageUrl, title, subTitle, buttonText, redirectLink)
                        @*if (!string.IsNullOrEmpty(redirectLink))
                            {
                                <a href="@redirectLink">
                                    @ArticleItem(imageUrl, title, subTitle, buttonText, redirectLink)
                                </a>
                            }
                            else
                            {
                                @ArticleItem(imageUrl, title, subTitle, buttonText, redirectLink)
                            }*@
                    }
                }
            </div>
            @*<div class="owl-carousel-next not-mobile"></div>*@
        </div>
        @*</div>*@
    </article>

    <script type="text/javascript">
        $(function () {
            InitFeaturedArticlesCarousel('@id');
        });
    </script>
}