@inherits UmbracoTemplatePage
@{
    var page = (Home)Model.Content;
    var site = page.AncestorOrSelf(1);
    var overview = site.FirstChild<GalleryOverview>();
    var items = ContentManager.GetGalleryItems(0, 1, 100).Items
       .GetRandom(Consts.GalleryConfig.ItemsOnFrontPage);
}

<article class="home-gallery-wrapper">
    <div class="container">
        <header class="home-gallery-header">
            <h2>@page.GalleryTitle</h2>
        </header>
        <section class="home-gallery">
            <div class="row no-gutters">
                @foreach (var item in items)
                {
                    var image = item.Image;

                    <div class="col-sm-8 col-md-6">
                        <article class="home-gallery-item">
                            <a href="@item.Url">
                                @if (image != null)
                                {
                                    var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                                    <div class="home-gallery-item-image">
                                        <img src="@imageUrl" alt="">
                                    </div>
                                }
                            </a>
                        </article>
                    </div>
                }
            </div>
        </section>
        <section class="home-gallery-read-more">
            <a href="@overview.Url" class="btn btn-default">@page.GalleryReadMore</a>
        </section>
    </div>
</article>
