@inherits UmbracoTemplatePage
@{
    var page = (Home)Model.Content;
    var site = page.AncestorOrSelf(1);
    var overview = site.FirstChild<NewsOverview>();
    var items = ContentManager.GetNewsItems(0, 1, Consts.NewsConfig.ItemsOnFrontPage).Items;
}

<article class="home-news-wrapper">
    <div class="container">
        <header class="home-news-header">
            <h2>@page.NewsTitle</h2>
        </header>
        <section class="home-news">
            <div class="row">
                @foreach (var item in items)
                {
                    var title = item.GetTitle();
                    var image = item.Image;
                    var subHeader = item.Subtitle;
                    var content = new HtmlString(string.Empty); // can't parse content as we are now using Grid Layout

                    <div class="col-sm-12 col-md-8">
                        <article class="home-news-item">
                            <a href="@item.Url">
                                @if (image != null)
                                {
                                    var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                                    <div class="home-news-item-image">
                                        <img src="@imageUrl" alt="">
                                    </div>
                                }
                                <header>
                                    <h3>@title</h3>
                                </header>
                                <span class="home-news-item-byline">
                                    @Html.GetInnerText(string.IsNullOrWhiteSpace(subHeader) ?
                                        content : new HtmlString(subHeader), 140)
                                </span>
                            </a>
                        </article>
                    </div>
                }
            </div>
        </section>
        <section class="home-news-read-more">
            <a href="@overview.Url" class="btn btn-default">@page.NewsReadMore</a>
        </section>
    </div>
</article>
