@inherits UmbracoTemplatePage
@{
    Layout = "LayoutBase.cshtml";
    var leftSidebarDefined = IsSectionDefined("LeftSidebar");
    var rightSidebarDefined = IsSectionDefined("RightSidebar");

    var leftSidebarWidth = 6;
    var rightSidebarWidth = 6;
    var allWidth = 24;
    var contentWidth = allWidth;
    string cssClass = "no-sidebars-defined";
    if (leftSidebarDefined && rightSidebarDefined)
    {
        contentWidth = allWidth - leftSidebarWidth - rightSidebarWidth;
        cssClass = "left-sidebar-defined right-sidebar-defined";
    }
    else if (leftSidebarDefined)
    {
        contentWidth = allWidth - leftSidebarWidth;
        cssClass = "left-sidebar-defined";
    }
    else if (rightSidebarDefined)
    {
        contentWidth = allWidth - rightSidebarWidth;
        cssClass = "right-sidebar-defined";
    }
}
@section Scripts{
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
}

<section class="main-wrapper">
    <div class="container">
        <div class="row">
            @if (leftSidebarDefined)
            {
                <section class="col-sm-@leftSidebarWidth">
                    @RenderSection("LeftSidebar")
                </section>
            }
            <section class="col-sm-@contentWidth @cssClass">
                @RenderSection("Body")
            </section>
            @if (rightSidebarDefined)
            {
                <section class="col-sm-@rightSidebarWidth">
                    @RenderSection("RightSidebar")
                </section>
            }
        </div>
    </div>
</section>