@inherits UmbracoTemplatePage
@{
    Layout = "LayoutBase.cshtml";
    var leftSidebarDefined = IsSectionDefined("LeftSidebar");
    var rightSidebarDefined = IsSectionDefined("RightSidebar");
    int contentWidth = 24;
    if (leftSidebarDefined && rightSidebarDefined)
    {
        contentWidth = 13;
    }
    else if (leftSidebarDefined)
    {
        contentWidth = 19;
    }
    else if (rightSidebarDefined)
    {
        contentWidth = 18;
    }
}
@section Scripts{
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
}

@if (IsSectionDefined("FeaturedArticlesCarousel"))
{
    @RenderSection("FeaturedArticlesCarousel")
}
<section class="main-wrapper">
    <div class="container">
        <header class="header-coloured orange">
            <h3>
                @RenderSection("Header")
            </h3>
        </header>
        <div class="row">
            @if (leftSidebarDefined)
            {
                <div class="col-sm-5">
                    @RenderSection("LeftSidebar")
                </div>
            }
            <div class="col-sm-@contentWidth">
                @RenderSection("Body")
            </div>
            @if (rightSidebarDefined)
            {
                <div class="col-sm-6">
                    @RenderSection("RightSidebar")
                </div>
            }
        </div>
    </div>
</section>