@inherits UmbracoTemplatePage<GalleryOverview>
@{
    Layout = "ContentBase.cshtml";
    var containerId = "gallery-list";
    var overlayId = "loading-overlay";
    var galleryYears = ContentManager.GetGalleryYears();
    var dict = new ViewDataDictionary
    {
        { "DataAttr", "data-gallery-link" },
        { "RoutingObj", "galleryRouting" }
    };
}

@section Body
{
    <section class="gallery-overview-container">
        <div class="header">
            <div class="row">
                <div class="col-sm-18">
                    <header>
                        <h2>
                            @Model.Content.GetTitle()
                        </h2>
                    </header>
                </div>
                <div class="col-sm-6">
                    @{Html.RenderPartial("~/Views/Partials/Common/YearsList.cshtml", galleryYears, dict);}
                </div>
            </div>
        </div>
        <div class="list" id="@containerId"></div>
        <div id="@overlayId" class="loading-overlay"></div>
    </section>

    <script type="text/javascript">
        $(function () {
            galleryRouting.init({
                containerId: '@containerId',
                overlayId: '@overlayId',
                yearAllInt: @Consts.GalleryConfig.YearAllInt,
                itemsPerPage: @Consts.GalleryConfig.ItemsPerPageOnOverviewPage});
        });
    </script>
}