@inherits UmbracoTemplatePage
@{
    Layout = null;
    var site = Model.Content.AncestorOrSelf<Site>();
    var siteName = site.SiteName;
    var siteDescription = site.SiteDescription;
    var title = site.Title;
}
<!DOCTYPE html>
<html>
<head>
    <title>@siteName - @title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@siteDescription" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Arimo:700,400&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/basic-css")
    @Scripts.Render("~/js/basic-js")
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</head>
<body>
    <!-- /Header -->
    @{ Html.RenderPartial("ScrollToTop"); }
    @{ Html.RenderPartial("Header"); }
    @if (IsSectionDefined("FeaturedArticlesCarousel"))
    {
        @RenderSection("FeaturedArticlesCarousel")
    }
    @RenderBody()
    @{ Html.RenderPartial("Footer"); }
    <script id="dsq-count-scr" src="//spadschyna.disqus.com/count.js" async></script>
</body>
</html>