@inherits UmbracoTemplatePage<NewsOverview>
@{
    Layout = "ContentBase.cshtml";
    var item = Model.Content;
    var containerId = "news-list";
    var overlayId = "loading-overlay";
    var newsYears = ContentManager.GetNewsYears();
    var dict = new ViewDataDictionary
    {
        { "DataAttr", "data-news-link" },
        { "RoutingObj", "newsRouting" }
    };
}

@section Body
{
    <section class="news-overview-container">
        <header class="header">
            <div class="row">
                <div class="col-sm-18">
                    <h2>@Model.Content.GetTitle()</h2>
                </div>
                <div class="col-sm-6">
                    @{Html.RenderPartial("~/Views/Partials/Common/YearsList.cshtml", newsYears, dict);}
                </div>
            </div>
        </header>
        <div id="@containerId" class="list"></div>
        <div id="@overlayId" class="loading-overlay"></div>
    </section>


    <script type="text/javascript">
        $(function () {
            newsRouting.init({
                containerId: '@containerId',
                overlayId: '@overlayId',
                yearAllInt: @Consts.NewsConfig.YearAllInt,
                itemsPerPage: @Consts.NewsConfig.ItemsPerPageOnOverviewPage});
        });
    </script>
}