@inherits UmbracoTemplatePage
@{
    var homePage = Model.Content.AncestorOrSelf(1);
    var overview = homePage.FirstChild<FeaturedArticlesOverview>();
    var articles = overview.Children<FeaturedArticle>().ToList();

    var id = Utils.GenerateId("featuredArticles");
}

@helper ArticleItem(string imageUrl, string title, string subtitle)
{
    <article>
        <img class="lazyOwl img-responsive" data-src="@imageUrl" />
        <div class="featured-article-info">
            <h4>@title</h4>
            <span>@subtitle</span>
        </div>
    </article>
}

@if (articles.Count > 0)
{
    <section class="featured-articles-wrapper">
        <div class="container">
            <div id="@id" class="pagination-carousel featured-articles">
                @*<div class="owl-carousel-prev not-mobile"></div>*@
                <div class="owl-carousel">
                    @foreach (var article in articles)
                    {
                        var image = article.Image;
                        if (image != null)
                        {
                            var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                            var redirectPageId = ((int?)article.PageToOpen).GetValueOrDefault();
                            var redirectLink = redirectPageId != 0 ? Umbraco.NiceUrl(redirectPageId) : string.Empty;
                            var title = article.Title;
                            var subTitle = article.Subtitle;
                            if (!string.IsNullOrEmpty(redirectLink))
                            {
                                <a href="@redirectLink">
                                    @ArticleItem(imageUrl, title, subTitle)
                                </a>
                            }
                            else
                            {
                                @ArticleItem(imageUrl, title, subTitle)
                            }
                        }
                    }
                </div>
                @*<div class="owl-carousel-next not-mobile"></div>*@
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(function () {
            InitFeaturedArticlesCarousel('@id');
        });
    </script>
}