@inherits UmbracoViewPage<GalleryResult>
@{
    var items = Model.Items;
}

@for (var i = 0; i < items.Count; i++)
{
    var item = items[i];

    var title = item.Title;
    title = string.IsNullOrWhiteSpace(title) ? item.Name : title;
    var image = (string)item.Image;
    var subHeader = item.SubHeader;
    var content = new HtmlString(string.Empty); // can't parse content as we are now using Grid Layout

    <div class="gallery-item">
        <header class="gallery-item-title">
            <a href="@item.Url">
                <h3>@title</h3>
            </a>
        </header>
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <a href="@item.Url" class="gallery-item-image">
                <img src="@Html.GetThumbnailUrl(image, 700)" alt="" />
            </a>
        }
        <div class="gallery-item-byline">
            @Html.GetInnerText(string.IsNullOrWhiteSpace(subHeader) ?
                content : new HtmlString(subHeader), 200)
        </div>
        <a href="@item.Url" class="gallery-item-button btn btn-primary center-block">@Localization.GalleryReadMore</a>

        @if (i != items.Count - 1)
        {
            <hr />
        }
    </div>
}

@{
    Html.RenderPartial("GalleryPager");
}