@inherits UmbracoTemplatePage
@{
    var typedCurrPage = Model.Content;

    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = typedCurrPage.AncestorOrSelf(1);

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var newsOverview = homePage.Children<NewsOverview>().First();

    var newsYears = newsOverview.Children<NewsByYear>()
        .OrderByDescending(i => i.Name).Select(i => i.Name).ToList();
    newsYears.Insert(0, Consts.NewsConfig.YearAllInt.ToString());

    var newsCategories = Utils.GetDataTypePreValues(NewsItem.GetModelPropertyType(i => i.Category).DataTypeId).ToList();
    newsCategories.Insert(0, new PreValue(Consts.NewsConfig.NewsCategoryAllInt, Localization.NewsCategoryAll));
    newsCategories.Insert(1, new PreValue(Consts.NewsConfig.NewsCategoryAnnounceInt, Localization.NewsCategoryAnnounce));

    //We are on the NewsOverview page
    var weAreOnTheNewsOverview = (newsOverview.Url == CurrentPage.Url).ToString().ToLower();

    var currentYear = Consts.NewsConfig.YearAllInt.ToString();
    var currentCategory = Localization.NewsCategoryAll;
    //If we are on NewsItem page
    if (typedCurrPage is NewsItem)
    {
        currentYear = typedCurrPage.Parent.Name;
        currentCategory = (string)((NewsItem)typedCurrPage).Category;
    }
}

<div class="news-left-sidebar">
    <div class="row">
        <div class="col-xs-12 col-sm-24">
            <ul class="news-categories">
                @foreach (var category in newsCategories)
                {
                    <li>
                        <a class="news-link
                                   category-@category.Id
                                   @Umbraco.If(category.Value.Equals(currentCategory, StringComparison.InvariantCultureIgnoreCase), "active")"
                           href="#" category="@category.Id">
                            <span>@category.Value</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-12 col-sm-24">
            <ul class="news-years">
                @foreach (var year in newsYears)
                {
                    <li>
                        <a class="news-link
                                   @Umbraco.If(year == Consts.NewsConfig.YearAllInt.ToString(), "all")
                                   @Umbraco.If(year == currentYear, "active")"
                           href="#" year="@year">@Umbraco.If(year == Consts.NewsConfig.YearAllInt.ToString(), Localization.YearAll, year)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        InitNewsLeftSidebar(@Consts.NewsConfig.NewsCategoryAllInt, @Consts.NewsConfig.YearAllInt, @weAreOnTheNewsOverview, @newsOverview.Url);
    });
</script>