@*@inherits UmbracoTemplatePage*@
@model IPublishedContent
@{
    var publishDate = Model.GetPropertyValue<DateTime>(Consts.NewsItemDocType.PublishDateProperty);
    var date = (publishDate == default(DateTime) ? Model.CreateDate : publishDate).ToString("dd-MM-yyyy");
    var category = Model.GetPropertyValue<string>(Consts.NewsItemDocType.CategoryProperty);
    var categoryId = Utils.GetDataTypePreValues(Consts.DataTypes.NewsCategory)
        .First(i => i.Value.Equals(category, StringComparison.InvariantCultureIgnoreCase)).Id;
    var disqusUrl = Model.Url + "#disqus_thread";
}
<ul class="news-item-info">
    <li>
        <span class="calendar-icon"></span>
        <span>@date</span>
    </li>
    <li>
        <span class="comments-icon"></span>
        <a href="@disqusUrl" data-disqus-identifier="@Model.Id"></a>
    </li>
    <li>
        <span class="share-icon"></span>
        <a href="#">Поділитись</a>
    </li>
    <li>
        <span class="category-icon"></span>
        <a href="#" category="@categoryId" class="news-link category-@categoryId">@category</a>
    </li>
</ul>
