@inherits UmbracoViewPage<NewsResult>
@{
    var newsItems = Model.Items;
}

@for (var i = 0; i < newsItems.Count; i++)
{
    var item = newsItems[i];

    var title = item.Title;
    title = string.IsNullOrWhiteSpace(title) ? item.Name : title;
    var image = (string)item.Image;
    var subHeader = item.Subheader;
    var content = new HtmlString(string.Empty); // can't parse content as we are now using Grid Layout

    <div class="news-item">
        <header class="news-item-title">
            <h3>
                <a href="@item.Url">@title</a>
            </h3>
        </header>
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <a href="@item.Url" class="news-item-image">
                <img src="@Html.GetThumbnailUrl(image, 700)" alt="" />
            </a>
        }
        @{ Html.RenderPartial("NewsItemInfo", newsItems[i]);}
        @{ Html.RenderPartial("NewsItemTags", newsItems[i]);}
        <div class="news-item-byline">
            @Html.GetInnerText(string.IsNullOrWhiteSpace(subHeader) ?
                content : new HtmlString(subHeader), 200)
        </div>
        <a href="@item.Url" class="news-item-button btn btn-primary center-block">@Localization.NewsReadMore</a>

        @if (i != newsItems.Count - 1)
        {
            <hr />
        }
    </div>
            }

@{
    Html.RenderPartial("NewsPager");
}