@model NewsItem[]
@{
    var prev = Model[0];
    var next = Model[1];
}

@helper RenderNewsItem(NewsItem item, string @class, string header)
{
    <div class="related-news-item @(@class)">
        @if (item != null)
        {
            var title = string.IsNullOrWhiteSpace(item.Title) ? item.Name : item.Title;
            var image = item.Image;
            <span>@header</span>
            <a href="@item.Url">@title</a>
            if (image != null)
            {
                var imageUrl = image.Src + image.GetCropUrl(image.Crops.First().Alias);
                <a href="@item.Url">
                    <img src="@imageUrl" alt="" />
                </a>
            }
        }
    </div>
}

<div class="related-news-container">
    @RenderNewsItem(prev, "text-left", Localization.RelatedNewsPrev)
    @RenderNewsItem(next, "text-right", Localization.RelatedNewsNext)
</div>