@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<!-- Contact -->
<ul class="contacts">
    @RenderLinkIfNotEmpty(homePage.InstagramLink, "instagram", "Instagram")
    @RenderLinkIfNotEmpty(homePage.FacebookLink, "facebook", "Facebook")
    @RenderLinkIfNotEmpty(homePage.SkypeLink, "skype", "Skype")
    @RenderLinkIfNotEmpty(homePage.VkLink, "vkontakte", "Vkontakte")
    @*@RenderLinkIfNotEmpty(homePage.GoogleLink, "googleplus", "Google+")
    @RenderLinkIfNotEmpty(homePage.DribbbleLink, "dribbble", "Dribbble")
    @RenderLinkIfNotEmpty(homePage.LinkedinLink, "linkedin", "Linked In")*@
</ul>
<!-- /Contact -->
@helper RenderLinkIfNotEmpty(dynamic link, string cssClass, string linkName, string title = "")
{
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link" class="@cssClass" title="@title"></a></li>
    }
}